.head-title-wrap{
	background-color: #383a49;
	display: flex;
	margin: 0 -15px;
	height:12%;
}
.head-title{
	margin:auto;
	color:white;
	text-align:center;
}
.head-title img{
	width:80%;
	height:80%;
}
.sidebar{
	position: fixed;
	background-color: #2f3241;
	height:100%;
}
.sidebar a{
	color: #5b5d6c;
	text-transform: uppercase;
	font-weight: normal;

}
.nav{
	overflow:hidden;
}
.nav li:hover, .slidebar-active{
	background-color: #5b5d6c !important;
	transition:background-color 0.3s;
	font-weight:bold;
}
.nav a:hover{
	color: black
	transition:color 0.3s;
}
.nav .active a{
	width:100%;
	color:white;
	font-weight: normal;
}
.nav a:hover{
	background-color: none ;
}
.nav-sidebar {
  margin-right: -15px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar li span{
	padding-right: 20px;
  padding-left: 20px;
  color:#999;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
#sidebar-bottom{
	display: flex;
	height:20%;
	width:100%;
	bottom: 0px;
}
#sidebar-bottom span{
	margin:auto;
	color:#383a49;
	font-weight: bold;
	text-align: center;
}

/* Global Setting*/
#content{
	height: 100%;
	/*width:100%;*/
	padding:0;
	position:fixed;
}

/*
* The About Page
*/

#about {
	text-align: center;
	margin:auto;
}
#about img{
	width:45%;
	margin-bottom: 40px;
}


