
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ZSMUN Online Couter</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- JS Library File -->
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <!-- Custom Logic -->
    <script src="controller/main.js"></script>
    <script src="services/store.js"></script>
    <script src="controller/MotionNew.js"></script>
    <script src="controller/RollCall.js"></script>
  </head>

  <body ng-app="mun">
    <!-- side bar -->
    <div class="col-xs-1 sidebar" ng-controller="MenuCon">
    <div class="head-title-wrap">
      <div class='head-title'>
        <img src="pic/icon_small.png">
        <div></div>
      </div>
    </div>
    <!-- FIXME 修正菜单侧边栏的颜色，重构 -->
      <ul class="nav nav-sidebar">
        <li ng-click="click(1)" ng-class="{active: active == 1}"><a>{{menu[1][0]}}</a></li>
        <li ng-click="click(2)" ng-class="{active: active == 2}"><a>{{menu[2][0]}}</a></li>
        <li ng-click="click(3)" ng-class="{active: active == 3}"><a>{{menu[3][0]}}</a></li>
        <li ng-click="click(4)" ng-class="{active: active == 4}"><a>{{menu[4][0]}}</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li ng-click="click(5)" ng-class="{active: active == 5}"><a>{{menu[5][0]}}</a></li>
        <li ng-click="click(6)" ng-class="{active: active == 6}"><a>{{menu[6][0]}}</a></li>
        <li ng-click="click(7)" ng-class="{active: active == 7}"><a>{{menu[7][0]}}</a></li>
      </ul>
      <div id="sidebar-bottom"><span>由舟山模联强力驱动</span></div>
    </div>
    <!-- content -->
    <!-- The HTML will be replaced by template -->
    <div id="content" class="col-xs-11 col-xs-offset-1" ng-view></div>
  </body>
</html>
