<style type="text/css">
.content-bottom{
	background-color:#0D4E81;
	height:12%;
	width:100%;
	position:absolute;
	bottom:0px;
	padding:0;
	display: flex;
}
h4{
	margin-top:50px;
	font-weight: normal;
}
hr{
	background-color:silver;
	height:1px;
}
</style>
<div class="content-head">
	<span class="content-title">新动议</span>
</div>
<div class="content-body">
	<div class='real-body'>
		<h4>发起国</h4>
		<input type="text" ng-model="sponsor" typeahead="country as country.eng_name for country in all_country | filter:{eng_name:$viewValue}" typeahead-template-url="typeaheadTemp.html" class="form-control">
		<h4 class='action'>选择动议类型</h4>
		<div class="btn-toolbar btn-toolbar-justified">
			<div class="btn-group ">
				<button class="btn btn-sm btn-success" ng-click="click(1)" ng-class="{active:now==1}">{{motion_type.1}}</button>
			</div>
			<div class="btn-group ">
				<button class="btn btn-sm btn-success" ng-click="click(2)" ng-class="{active:now==2}">{{motion_type.2}}</button>
			</div>
			<div class='btn-group '>
				<button class="btn btn-sm btn-success" ng-click="click(3)" ng-class="{active:now==3}">{{motion_type.3}}</button>
				<button class="btn btn-sm btn-success" ng-click="click(4)" ng-class="{active:now==4}">{{motion_type.4}}</button>
				<button class="btn btn-sm btn-success" ng-click="click(5)" ng-class="{active:now==5}">{{motion_type.5}}</button>
				<button class="btn btn-sm btn-success" ng-click="click(6)" ng-class="{active:now==6}">{{motion_type.6}}</button>
			</div>
			<div class="btn-group ">
				<button class="btn btn-sm btn-success" ng-click="click(7)" ng-class="{active:now==7}">{{motion_type.7}}</button>
				<button class="btn btn-sm btn-success" ng-click="click(8)" ng-class="{active:now==8}">{{motion_type.8}}</button>
			</div>
		</div>
		<hr >
		<h4>{{_type}}</h4>
		<div class="form-group">
			<!-- Type 1 -->
			<div ng-show="now == 1">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">
						时长为
					</div>
					<input class="form-control" ng-model="time1"></input>
					<div class="input-group-addon">
						<b>秒钟</b>的自由磋商
					</div>
				</div>
			</div>
			<!-- Type 2 -->
			<div ng-show="now == 2">
				<div class="input-group input-group-lg">
					<div class="input-group-addon">主题：</div>
					<input type="text" ng-model="topic2" class="form-control">
				</div>
				<div class="input-group input-group-lg">
					<div class="input-group-addon">总时长：</div>
					<input type="text" ng-model="all_time2" class="form-control">
					<div class="input-group-addon">秒</div>
				</div>
				<div class="input-group input-group-lg">
					<div class="input-group-addon">单次发言时长：</div>
					<input type="text" ng-model="each_time2" class="form-control">
					<div class="input-group-addon">秒</div>
				</div>
			</div>
			<!-- Type 3 -->
			<div ng-show="now == 3">
				<div class="input-group">
					<div class="input-group-addon">修改决议草案</div>
					<input type="text" ng-model="dp3" class="form-control">
					<div class="input-group-addon">的投票顺序</div>
				</div>
			</div>
			<!-- Type 4 -->
			<div ng-show="now == 4">
				<div class="input-group">
					<div class="input-group-addon">取消延置决议草案</div>
					<input type="text" ng-model="dp4" class="form-control">
				</div>
			</div>
			<!-- Type 5 -->
			<div ng-show="now == 5">
				<div class="input-group">
					<div class="input-group-addon">修改正式辩论发言时长为</div>
					<input type="text" ng-model="time5" class="form-control">
					<div class="input-group-addon">秒</div>
				</div>
			</div>
			<!-- Type 6 -->
			<div ng-show="now == 6">
				<!-- 暂时休会不需要输入 -->
			</div>
			<!-- Type 7 -->
			<div ng-show="now == 7">
				<div class="input-group">
					<div class="input-group-addon">延置决议草案</div>
					<input type="text" ng-model="dp7" class="form-control">
				</div>
			</div>
			<!-- Type 8 -->
			<div ng-show="now == 8">
				<p>请两位赞成此动议及两位反对此动议的代表交替发言阐述理由,由赞成该动议的第一位代表首先发言,发言时间为九十秒,发言时间不能让渡;当所有代表均已阐述己方的理由之后,将自动进入对该动议的投票阶段</p>
				<div mu-timer style="margin:auto"></div>
			</div>
		</div>
		<div>
			注意：本动议需要<span>{{people_require}}</span>票以上支持<br>
		</div>
		<h4>赞同数</h4>
		<div class="text-center input-group input-group-lg" style="padding:0 20%">
			<input type="text" ng-model="agree" class="form-control">
			<a class="input-group-addon" ng-click="submit()">提交</a>
		</div>
	</div>
</div>

